
.chart {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 5px;
  /*margin-bottom: 50px;*/
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
  
}
.chart-image{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 25px;
  /*line-height: 140px;*/
  z-index: 2;
}
.percent {
  display: inline-block;
  line-height: 140px;
  z-index: 2;
  color: #f16f30;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
