/*Navbar Header Style Start*/
.header-main{
	border-radius: 0px;
	margin-bottom: 43px;
}

.header-main-link{
	background-color: #e56e1f;
}
.header-main-link ul, .header-main-logo ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.header-main-link ul li, .header-main-logo ul li{
	display: inline-block;
}
.header-main-link ul li a{
  	font-family: GothamBold;	
  	font-size: 14px;
  	font-weight: bold;
  	letter-spacing: 0.4px;	
  	text-align: left;
	color: #ffffff;
	position: relative;
    display: block;
    padding: 20px 15px;
	line-height: 20px;
	border-top: 2.5px solid #e56e1f;
}

.header-main-link ul li a:hover{
  	border-radius: 0px 0px 5px 5px;
	border-top: 2.5px solid #ea8b4c;
  	background-color: #ea8b4c;
	text-decoration: none;
	height: 45px;
}
.header-main-link ul li a.header-menu-active:hover{
	background-color: transparent;
}
.header-main-link ul li a:focus{
  	outline: 0;
	text-decoration: none;
}
.header-main-logo{
	background-color: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
	-moz-box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
	-webkit-box-shadow: 0 2px 4px 0 rgba(87, 71, 81, 0.2);
}
.header-main-logo ul li a{
	position: relative;
    display: block;
    padding: 12px 5px;
	line-height: 20px;
}

.header-menu-active {
	border-top: 2.5px solid #FFFFFF!important;
}
.badge {
    position: relative;
    float: right;
    margin-left: -20px;
    margin-top: 5px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #e45b5b;
    border-radius: 10px;
    z-index: 999999;
}
/* notification */
.notification-count{
	color:#fff;
	background-color:#ee3f5e;
}
.notification-badge{
	position:absolute;
	top:15px;
	left:9px;
}
.notification .dropdown-menu{
  background-color: #ffffff;
  width: 240px;
  margin-left: -100px;
  padding:5px;
  border: solid 1px rgba(106, 106, 106, 0.2);
  border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.notification .dropdown-menu li{
	display:block;
	padding:12px 10px 6px;
	border-bottom: 1px dotted #c5c5c5;
	margin-top:1px;
	margin-bottom: 1px;	
}
.notification .dropdown-menu li.notification-title{
	
	padding:12px 10px;
}
.notification .dropdown-menu li.no-padding{
	padding:0 10px;
}
.notification .dropdown-menu li.with-bg{
	background-color: #efefef;
}
.notification .dropdown-menu li a{
	color:#013f92;
	font-size:11px;
	    padding: 12px 5px 7px;
}
.notification .dropdown-menu li a:hover{
	background: none;
}

.status-text{
	display: inline-block;
	padding-left:10px;
	font-size:13px;
	color:#000;
}
.notify-date{
	color:#8f8f8f;
	font-size:12px;
	display: block;
}
.status-img-holder{
	position: relative;
    top: -10px;
}
/* notification end */
/* settingMenu */
.settingMenu .dropdown-menu{
  background-color: #ffffff;
  width: 240px;
  margin-left: -130px;
  padding:5px;
  border: solid 1px rgba(106, 106, 106, 0.2);
  border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

.settingMenu .dropdown-menu li{
	display:block;
	padding:12px 10px 10px;
	border-bottom: 1px dotted #c5c5c5;
	margin-top:1px;
	margin-bottom: 1px;	
}

.settingMenu .dropdown-menu li.no-padding{
	padding:0 10px;
}
.settingMenu .dropdown-menu li.with-bg{
	background-color: #efefef;
}
.settingMenu .dropdown-menu li a{
	color:#013f92;
	font-size:11px;
	padding: 12px 5px 7px;
}
.settingMenu .dropdown-menu li a:hover{
	background: none;
}
.settingMenu-img-holder{
	position: relative;
    top: 0px;
}

/* settingMenu end*/
/*Navbar Header Style End*/

/*Navbar Footer Style Start*/
footer .row{
	margin-right: 0px;
	margin-left: 0px;
}
footer{
	width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer{	
	background-color: #35414c;
    min-height: 133px;
	padding-top: 29px;
}
footer .footer ul{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 5px;
	color: #fff;
}
footer .footer ul li {
    margin-bottom: 0;
	padding: 5px 0px;
	list-style: none;
	display: inline-block;
    vertical-align: middle;
	color: #FFFFFF;
	
}
footer .footer ul li a{
    padding: 10px 0px;
	color: #FFFFFF;
	font-family: GothamBook;
	font-size: 12px;
  	line-height: 2;
  	text-align: left;
}
footer .footer ul li a:hover,footer .footer ul li a:focus{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 12px;
}
.footer-copyright{
	color: #FFFFFF;
	font-family: GothamBook;
	font-size: 12px;
}
.footer-copyright span:nth-child(2){
	position: relative;
	display: inline-block;
	padding-right: 5px;
	top: -5px;
	font-size: 18px;
}
.footer-copyright span:nth-child(3){
	position: relative;
	top: -8px;
}
.footer-copyright span:last-child{
	position: relative;
	top: -2px;
}
.footer-active{
	color: #FFFFFF!important;
	font-weight: bold;
}
.footer-pipeline{
	padding-left: 13px;
	padding-right: 13px;
	display: inline-block;
}
.footer hr{
	opacity: 0.5;
  	background-color: #f3f7f8;
	margin-top: 5px;
    margin-bottom: 10px;
}
/*Foter For Mobile Start*/
.footer-mob{
	background-color: #35414c;
	color: #fff;
}

.footer-mob hr{
	opacity: 0.5;
  	background-color: #f3f7f8;
	margin-top: 5px;
    margin-bottom: 10px;
}
footer .footer-mob ul{
	color: #fff;
	padding-left: 20px;
}
footer .footer-mob ul li {
	padding: 5px 0px;
	list-style: none;
    vertical-align: middle;
	color: #FFFFFF;
	
}
footer .footer-mob ul li a{
    padding: 10px 0px;
	color: #FFFFFF;
	font-family: GothamBook;
	font-size: 14px;
  	line-height: 2;
  	text-align: left;
}
.footer-mob-copyright{
	color: #FFFFFF;
	font-family: GothamBook;
	font-size: 12px;
}
.footer-mob-copyright span:first-child{
	position: relative;
	display: inline-block;
	padding-right: 5px;
	top: -5px;
	font-size: 18px;
}
.footer-mob-copyright span:nth-child(2){
	position: relative;
	top: -8px;
}
.footer-mob-copyright span:last-child{
	position: relative;
	top: -2px;
}
.footer-dropdown-span{
	display: inline-block;
    padding-top: 5px;
}
.footer-dropdown-arrow{
	position: absolute;
    right: 22px;
    top: -3px;
}
/*Foter For Mobile End*/
/*Navbar Footer Style End*/
/*Media For Tablate Device Start*/
@media (max-width: 992px){
	.footer{
		min-height: 175px;
	}
	.notification .dropdown-menu{
  		 margin-left: -115px;
 	}
}
/*Media For Tablate Device End*/
/*Media Queary For Mobile Device Header & Footer*/

@media only screen and (max-width: 767px) {
	.header-main{
		margin-bottom: 10px;
	}
   .header-main .container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-main-logo ul li a{
		position: relative;
		display: block;
		padding: 12px 0px;
		line-height: 20px;
	}
	footer .container-fluid{
		padding-left: 15px;
		padding-right: 15px;
	}
	footer{
		position: static;
		min-height: auto;
	}
	.header-main-link ul li a{
		padding: 15px 5px;
		font-size: 12px;
	}
	.header-main-link ul li a:hover{
		background-color: transparent;
	}
	.header-container-mobile{
		padding-left: 0px;
		padding-right: 0px;
	}
	.notification .dropdown-menu{
  		 margin-left: -135px;
 	}
}

/*Media query for GalaxyS5 device Start*/
@media screen and (device-width: 360px) and (device-height: 640px){
	.header-main-link ul li a{
		padding: 15px 0px;
		font-size: 10px;
	}
}
/*Media query for GalaxyS5 device End*/
/*Media query for iphone5 device Start*/
@media screen and (device-aspect-ratio: 40/71) {
	.header-main-link ul li a{
		padding: 15px 0px;
		font-size: 10px;
	}
}
/*Media query for iphone5 device End*/
/*Media query for iphone6 device Start*/
@media screen and (device-aspect-ratio: 375/667) {
	.header-main-link ul li a{
		padding: 15px 5px;
		font-size: 12px;
	}
}
/*Media query for iphone5 device End*/